.wrapper_reg_booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: 20px;
}

.wrapper_time_window {
  width: 100%;
  height: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#88D05C, #197728);
  color: white;
  border-radius: 3px;

  & div {
    display: flex;
    flex-direction: column;
  }

  & span {
    margin-top: 1.3vh;
    font-size: 1.4em;
  }

  & p {
    font-size: 5em;
    margin: 0;
    margin-bottom: 3vh;
  }
}

.btn_add {
  margin-top: 96px;
  width: 35vh;
  height: 85px;
  background: linear-gradient(#88D05C, #197728);
  color: white;
  border: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.6em;
  border-radius: 5px;
}

.wrapper_block_btn_instant {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 164px;
  width: 100%;

  & span {
    margin-left: 4vh;
    margin-bottom: 1.2vh;
  }
}

.wrapper_btn_instant {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn_instant {
  border-color: #4BA03A;
  width: 40%;
  height: 74px;
  background: rgba(10, 22, 38, 1);
  color: white;
  font-size: 1.5em;
  border-radius: 7px;
}
