.header_top {
  display: flex;
}

.wrapper_icon_booking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 6vh;
  background: rgba(40, 53, 71, 1);
}

.icon_booking {
  background: url(../../image/icon_booking_top.png) no-repeat;
  background-size: 100%;
  width: 3vh;
  height: 3vh;
}

.btn_top {
  width: 30%;
  height: 6vh;
  background: rgba(40, 53, 71, 1);
  color: aliceblue;
  border: 0;
  margin-left: 3px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.5rem;
}

.wrapper_clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  width: 30%;
  height: 6vh;
  background: rgba(40, 53, 71, 1);
  color: aliceblue;

  & time {
    margin: 0;
    font-size: 1.5rem;
  }
}

.wrapper_calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 10%;
  background: rgba(40, 53, 71, 1);
  margin-left: 3px;
  border: 0;
}

.calendar {
  background: url(../../image/calendar.png) no-repeat;
  background-size: 100%;
  width: 3vh;
  height: 3vh;
}
