.wrapper_timeline {
  display: flex;
  // box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.wrapper_time_scale {
  display: flex;
  flex-direction: column;
  width: 96px;
  color: white;
  margin-top: 1.5vh;
}

.time_scale {
  height: 101px;
  position: relative;

}

.time_scale_clock {
  position: relative;
  top: -1.5vh;
  font-size: 1.3em;
  padding-left: 5px;
}

.time_scale_unit {
  position: relative;
  right: -58px;
  top: -25px;
  // background: red;
  border-style: solid hidden solid hidden;
  width: 25px;
  height: 51%;
  box-sizing: border-box;
  border-width: 1px 0px 1px 0px;
}

.time_scale_unit_half {
  position: absolute;
  // background: blue;
  border-style: solid hidden solid hidden;
  width: 13px;
  right: 0%;
  top: 35%;
  height: 36%;
  box-sizing: border-box;
  border-width: 1px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.5);
}

.wrapper_time_line {
  width: 100%;
  color: white;
  margin-left: 3px;
  margin-top: 1.5vh;
}



.time_line {
  border: 1px dotted white;
  height: 100px;
}
