body {
  position: fixed;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(10, 22, 38, 1);
  overflow: hidden;
  min-width: 850px;
  min-height: 600px;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
